{% extends '../layout.njk' %}

{% block head %}
    <title>Foodfy - Admin: {{ chef.name }}</title>
{% endblock head %}

{% block content %}
    <main>
        <div class="recipe-header-admin">
            <h2>Chef: {{ chef.name }}</h2>
            {% if userSession.is_admin == true %}
                <a href="/admin/chefs/{{ chef.id }}/edit">Editar chef</a>
            {% endif %}
        </div>
        <img class="chef-img" src="{{ chefImage.src }}" alt="{{ chefImage.name }}">
        <div class="recipe-title">
            <h1>{{ chef.name }}</h1>
            {% if chef.total_recipes == 1 %}
                <h3>{{ chef.total_recipes }} receita</h3>
                {% else %}
                <h3>{{ chef.total_recipes }} receitas</h3>
            {% endif %}
        </div>
        <section>
            <div class="header-index">
                <h2 class="h2-chef-admin">Receitas</h2>
            </div>
            <div class="grid-receitas-admin">
                {% for recipe in recipes %}
                    <div class="receita-admin" id="{{ recipe.title }}">
                        <img src="{{ recipe.img.src }}" alt="{{ recipe.title }}">
                        <div class="texto-receita-admin">
                            <h3>{{ recipe.title }}</h3>
                            <p>por {{ chef.name }}</p>
                            <a href="/admin/recipes/{{ recipe.id }}">Visualizar</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
    </main>
{% endblock content %}
