{% extends '../layout.njk' %}

{% block head %}
    <title>Foodfy - Admin: Novo chef</title>
{% endblock head %}

{% block content %}
    <main>
        <form action="/admin/chefs" method="POST" enctype="multipart/form-data">
        
            <div class="recipe-header-admin">
                <h2>Criando chef</h2>
                
                <div class="admin-buttons">
                    <button class="admin-button-1" type="submit">Salvar chef</button>
                </div>
            </div>

            {% include 'admin/chefs/fields.njk' %}

        </form>    
    </main>
{% endblock content %}
