{% extends '../layout.njk' %}

{% block head %}
    <title>Foodfy - Admin: {{ chef.name }}</title>
{% endblock head %}

{% block content %}
    <main>
        <form action="/admin/chefs?_method=PUT" method="POST" enctype="multipart/form-data">
        
            <div class="recipe-header-admin">
                <h2>Editando chef</h2>
                
                <div class="admin-buttons">
                    <button id="form-update" class="admin-button-1" type="submit">Salvar chef</button>
                </div>
            </div>

            {% include 'admin/chefs/fields.njk' %}

            <input 
                type="hidden" 
                name="id" 
                value="{{ chef.id }}"
            >

            <input 
                type="hidden" 
                name="file_id" 
                value="{{ chefImage.id }}"
            >

        </form>
        <form id="form-delete" action="/admin/chefs?_method=DELETE" method="POST">
            <input type="hidden" name="id" value="{{ chef.id }}">
            <input type="hidden" name="totalRecipes" value="{{ chef.total_recipes }}">
            <input type="hidden" name="file_id" value="{{ chefImage.id }}">
            <input type="hidden" name="image_src" value="{{ chefImage.src }}">
            <input 
                type="hidden" 
                name="name" 
                value="{{ chef.name }}"
            >

            <button class="admin-button-2" type="submit">Deletar</button>
        </form>
    </main>

    {% include '../confirm.njk' %}

{% endblock content %}
