<div class="item">
    <h4>Nome</h4>
    <div>
        <input
            type="text"
            name="name"
            value="{{ chef.name }}"
            required="required"
        >
    </div>
</div>

<div class="item">
    <h4>Avatar</h4>
    
    {% if files %}
        <div>
            <input
                type="url"
                class="avatar-url"
                value="http:{{ files[0].src }}"
                readonly
            >
        </div>
    {% endif %}
    
    <div class="avatar-upload">
        <input 
            id="photos-input"
            class="avatar-input"
            type="file" 
            name="photos" 
            accept="image/*"
            onchange="PhotosUpload.handleFileInput(event)"
        >
        Enviar Avatar
    </div>
</div>
