{% extends '../layout.njk' %}

{% block head %}
    <title>Foodfy - Admin Users</title>
{% endblock head %}

{% block content %}

    <section>
        <div class="header-index">
            <h2 class="h2-admin">Usuários</h2>
            <a href="/admin/users/create" class="admin-button-1">Novo</a>
        </div>
        <div class="grid-users-admin">
            
            {% for user in users %}

            <div class="user-admin" id="{{ user.id }}">
                <div class="user-content">
                    <h3>{{ user.name }}</h3>
                    <p>{{ user.email }}</p>
                    <a href="/admin/users/{{ user.id }}/edit">Editar</a>
                    <a href="/admin/users/{{ user.id }}/edit">Remover</a>
                </div>
            </div>

            {% endfor %}

        </div>
    </section>
    
{% endblock content %}