{% extends '../layout.njk' %}

{% block head %}
    <title>Foodfy - Admin Users</title>
{% endblock head %}

{% block content %}
    <section>
        <div class="header-index">
            <h2 class="h2-admin">Usuários</h2>
            <a href="/admin/users/create" class="admin-button-1">Novo</a>
        </div>

        <div class="grid-users-admin">
            
            {% for user in users %}
                <div class="user-admin" id="{{ user.id }}">
                    <div class="user-content">
                        <h3>{{ user.name }}</h3>
                        <p>{{ user.email }}</p>
                        <a href="/admin/users/{{ user.id }}/edit">Editar</a>
                        {% if userSession.id != user.id %}
                            <form class="delete-user-form" action="/admin/users?_method=DELETE" method="POST">
                                <input type="hidden" name="id" value="{{ user.id }}">
                                <button class="delete-user-button" type="submit">Remover</button>
                            </form>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}

        </div>
    </section>

    {% include '../confirm.njk' %}
    
{% endblock content %}