<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="icon" href="/assets/favicon.ico">
        
        {% include 'parts/styles.njk' %}

        {% block head %}
            <title>Foodfy - Admin</title>
        {% endblock head %}
        
    </head>
    <body>
        
        {% include 'parts/messages.njk' %}

        <header class="nav-admin">
            <nav class="nav-admin">
                <a href="/"><img src="/assets/logo-white.png" alt="logo-foodfy-white"></a>
                <a href="/admin/recipes">RECEITAS</a>
                <a href="/admin/chefs">CHEFS</a>
                {% if userSession.is_admin == true %}
                    <a href="/admin/users">USUÁRIOS</a>
                {% endif %}

                <form action="/admin/users/logout" method="post" class="logout-form">
                    <button class="logout-button" type="submit">SAIR</button>
                </form>
            </nav>
        </header>

        <div class="content">

            {% block content %}
            {% endblock content %}

        </div>

        <script src="/scripts/admin.js"></script>

    </body>
</html>