{% extends 'site/layout.njk' %}

{% block head %}
    <title>Receitas</title>
{% endblock head %}

{% block content %}
    

    <main class="recipes">
        <div>
            <h2 class="h2-site">Buscando por "{{ filter }}"</h2>
        </div>
        <div class="grid-receitas">

            {% for recipe in recipes %}

            <div class="receita" id="{{ recipe.id }}">
                <img src="{{ recipe.image }}" alt="{{ recipe.title }}">
                <div class="texto-receita">
                    <h3>{{ recipe.title }}</h3>
                    <p>por {{ recipe.chef_name }}</p>
                </div>
            </div>

            {% endfor %}

        </div>
        <div class="pagination"
            data-page={{ pagination.page }}
            data-total={{ pagination.total }}
            data-filter={{ filter }}
        ></div>
    </main>

{% endblock content %}
