<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        {% include 'parts/styles.njk' %}
        
        {% block head %}
            <title>Foodfy</title>
        {% endblock head %}
        
    </head>
    <body>
        <div class="content">
            <header>
                <nav>
                    <a href="/"><img src="/assets/logo.png" alt="logo-foodfy"></a>
                    <a href="/about" class="sublinhado">Sobre</a>
                    <a href="/recipes" class="sublinhado">Receitas</a>
                    <a href="/chefs" class="sublinhado">Chefs</a>
                    <a href="/admin/profile" class="sublinhado">Admin</a>

                    <form action="/recipes/filter" method="get" class="home-filter">
                        <input 
                            type="text"
                            name="filter"
                            placeholder="Buscar uma receita"
                            value="{{ filter }}"
                        >
                        <button type="submit">Buscar</button>
                    </form>
                </nav>
            </header>

            {% block content %}
            {% endblock content %}

        </div>

        <footer>
            <div class="rodape">
                <p>Todos direitos reservados, receitas Foodfy.</p>
            </div>
        </footer>

        <script src="/scripts/site.js"></script>

    </body>

</html>