{% extends 'site/layout.njk' %}

{% block head %}
    <title>{{ recipe.title }}</title>
{% endblock head %}

{% block content %}
    <main>
        {% if not recipe[0].img %}
            <img src="http://placehold.it/940x280?text=RECEITA SEM FOTO" />
        {% else %}
            <img src="{{ recipe.img[0].src }}" alt="{{ recipe.title }}">
        {% endif %}

        <div class="recipe-title">
            <h1>{{ recipe.title }}</h1>
            <h3>por {{ recipe.chef_name }}</h3>
        </div>
        <div class="recipe-info">
            <h2>Ingredientes <span class="button">ESCONDER</span></h2>
            <div class="recipe-hide-show">
                <ul>
                    {% for ingredient in recipe.ingredients %}
                        <li>{{ ingredient }}</li>
                    {% endfor %}
                </ul>
            </div>
            <h2>Modo de preparo <span class="button">MOSTRAR</span></h2>
            <div class="recipe-hide-show hidden">
                <ol>
                    {% for step in recipe.preparation %}
                        <li>{{ step }}</li>
                    {% endfor %}
                </ol>
            </div>
            <h2>Informações adicionais <span class="button">ESCONDER</span></h2>
            <div class="recipe-hide-show">
                <p>{{ recipe.information }}</p>
            </div>
        </div>
    </main>
{% endblock content %}
