/* RECIPES */
main.recipes {
    width: 940px;
    margin-bottom: 50px;
    display: flex;
}

.filtered-title {
    align-self: flex-start;
}

/* RECIPE PAGE */
main img {
    border-radius: 15px;
    margin: 20px auto 50px;
    max-width: 940px;
    max-height: 280px;
}

.detail-img {
    margin-bottom: 30px;
}

.recipe-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.recipe-title h1 {
    font-size: 36px;
    line-height: 42px;
    font-weight: bold;
    margin-bottom: 4px;
}

.recipe-title h3 {
    font-size: 20px;
    line-height: 24px;
    color: #777777;
}

.recipe-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style-position: inside;
    width: 940px;
}

.recipe-info h2 {
    font-size: 24px;
    line-height: 28px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 20px;
}

.recipe-info li, ol {
    line-height: 28px;
    font-size: 18px;
    color: #444444;
}

.recipe-info li:last-child, ol:last-child {
    margin-bottom: 10px;
}

.recipe-info p {
    font-size: 18px;
    color: #444444;
    line-height: 28px;
    margin-bottom: 50px;
}

.button {
    font-size: 12px;
    line-height: 14px;
    font-weight: bold;
    color: #999999;
    cursor: pointer;
}

.recipe-hide-show.hidden {
    display: none;
}

/* PAGINATION */
.pagination {
    margin: 0;
    align-self: center;
    justify-self: center;
}

.pagination a,
.pagination span {
    color: var(--titles-color);
    text-decoration: none;
    margin-right: 18px;
}

.pagination a.active {
    font-weight: bold;
}

.pagination a:hover {
    filter: brightness(0.3);
    border-bottom: 1px solid var(--titles-color);
    font-weight: bold;
}