{% extends '../layout.njk' %}

{% block head %}
    <title>Foodfy - Admin: {{ recipe.title }}</title>
{% endblock head %}

{% block content %}
    <main>
        <div class="recipe-header-admin">
            <h2>Receita: {{ recipe.title }}</h2>
            {% if userSession.is_admin == true %}
                <a href="/admin/recipes/{{ recipe.id }}/edit">Editar receita</a>
            {% endif %}
        </div>
        
        <div class="gallery">
            <div class="highlight">
                {% if not files[0] %}
                    <img src="http://placehold.it/940x280?text=RECEITA SEM FOTO" />
                {% else %}
                    <img 
                        src="{{ files[0].src }}" 
                        alt="{{ files[0].name }}"
                    >
                {% endif %}
            </div>
            <div class="gallery-preview">
                {% for image in files %}
                    <img 
                        src="{{ image.src }}" 
                        alt="{{ image.name }}"
                        {% if loop.index0 == 0 %}
                            class="active"
                        {% endif %}
                        onclick="ImageGallery.setImage(event)"
                    >
                {% endfor %}
            </div>
        </div>

        <div class="recipe-title">
            <h1>{{ recipe.title }}</h1>
            <h3>por {{ recipe.chef_name }}</h3>
        </div>
        <div class="recipe-info">
            <h2>Ingredientes</h2>
            <div>
                <ul>
                    {% for ingredient in recipe.ingredients %}
                        <li>{{ ingredient }}</li>
                    {% endfor %}
                </ul>
            </div>
            <h2>Modo de preparo</h2>
            <div>
                <ol>
                    {% for step in recipe.preparation %}
                    <li>{{ step }}</li>
                    {% endfor %}
                </ol>
            </div>
            <h2>Informações adicionais</h2>
            <div>
                <p>{{ recipe.information }}</p>
            </div>
        </div>
    </main>
{% endblock content %}
