<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/styles/index.css">
<link rel="stylesheet" href="/styles/admin/index.css">
<link rel="stylesheet" href="/styles/admin/messages.css">
<link rel="stylesheet" href="/styles/admin/login.css">
<link rel="stylesheet" href="/styles/admin/users.css">
<link rel="stylesheet" href="/styles/admin/recipes.css">
<link rel="stylesheet" href="/styles/admin/chefs.css">
<link rel="stylesheet" href="/styles/site/index.css">
<link rel="stylesheet" href="/styles/site/home.css">
<link rel="stylesheet" href="/styles/site/about.css">
<link rel="stylesheet" href="/styles/site/recipes.css">